*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
out/
.release/
app/build/
.android-sdk/
.garage-android-sdk/
.kotlin/
*.jks
*.keystore
google-services.json
secrets.properties
